
/* *{box-sizing:border-box;margin:0;padding:0;} */

/* @font-face {
    font-family: JetBrains;
    src: url(/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: NeunMachina;
    src: url(/fonts/Neue_Machina/NeueMachina-Regular.otf);
}
@font-face {
    font-family: IbmPlex;
    src: url(/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}
@font-face {
    font-family: SpaceGrotesk ;
    src: url(/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
} */

body,html{
    background-color: #e9f0f9;

    margin: 0px;
    /* align-content: center; */
    position: relative;
    display: flex;
    height:100%;
    /* border: 5px solid; */
    align-content: center;
    flex-direction: column;
}

.parent{
    background-color:rgb(255, 255, 255) ;
    /* backdrop-filter: blur(5px); */
    /* filter: blur(5px); */
    border-radius: 30px;
    box-sizing: border-box;
    /* border: 1px solid red; */
    height: 500px;
    width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.cronometro{
    margin: 0;
    box-sizing: border-box;   
    border: 1px solid rgb(143, 227, 17); 
}

.botones{
    /* border: 1px solid black; */
    padding-top:25px;
    display: flex;
    justify-content: space-around;
}
button{
    border: 0;
    border-radius: 10px;
    height: 80px;
    width: 160px;
    font-family: SpaceGrotesk, Arial, Helvetica, sans-serif;
    font-size: 37px;
    /* font-weight: 500; */
}
/* button:first-child{
    background-color: rgb(9, 92, 174);
    color: rgb(195, 203, 247);
}
button:nth-child(2){
    background-color: rgb(255, 230, 0);
    color: rgb(99, 68, 0);
}
button:last-child{
    background-color: rgb(255, 44, 44);
    color: rgb(110, 0, 0);
} */
    
#hms, #temp-hms{
    border: 1px solid; 
    box-sizing: border-box;
    font-size:180px;
    color: #28406d;
   font-family: IbmPlex,monospace; 
 }
#ms{
    /* border: 1px solid;  */
    box-sizing: border-box;
    font-size:50px;
    color: rgb(125, 53, 125);
    font-family: IbmPlex,monospace; 
}

footer{
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    padding: 0;
    border-radius: 15px;
    background-color: white;
    margin: 10px;
    position: fixed;
    bottom: 0;
    display: inline-flex;
    /* justify-content: center; */
}
p a{
    border: 1px solid;
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(22, 65, 103);
}
section p{
    margin: 0;
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

input{
    border-radius: 5px;
    border: 2px solid #fab760 ;
    background-color: #faebd7;
    height: 50px;
    width: 50px;
    font-size: 35px;
}
input[type=text] {
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    /* border: 2px; */
    
  }
  